<div class="main">
  
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 class="home-title">
          <span><b>We provide a variety of reliable products, including:</b></span>
        </h4>
      </div>
      <div class="col-md-6">
        <div class="demo d-flex  mt-3 mt-md-0">
          <p class=" mt-1"><b>Contact us for Demo<svg xmlns="http://www.w3.org/2000/svg" height="1.5em" style="margin:5px;" viewBox="0 0 512 512"><path d="M480 96c17.7 0 32 14.3 32 32s-14.3 32-32 32l-208 0 0-64 208 0zM320 288c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0zm64-64c0 17.7-14.3 32-32 32l-48 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l48 0c17.7 0 32 14.3 32 32zM288 384c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0zm-88-96l.6 0c-5.4 9.4-8.6 20.3-8.6 32c0 13.2 4 25.4 10.8 35.6C177.9 364.3 160 388.1 160 416c0 11.7 3.1 22.6 8.6 32l-8.6 0C71.6 448 0 376.4 0 288l0-61.7c0-42.4 16.9-83.1 46.9-113.1l11.6-11.6C82.5 77.5 115.1 64 149 64l27 0c35.3 0 64 28.7 64 64l0 88c0 22.1-17.9 40-40 40s-40-17.9-40-40l0-56c0-8.8-7.2-16-16-16s-16 7.2-16 16l0 56c0 39.8 32.2 72 72 72z"/></svg></b></p>
          <button class="btn btn-primary"  routerLink="/demo">Demo</button>
        </div>
      </div>
    </div>
  </div>
  

    <ul class="cards">
      <li>
        <a  class="card">
          <img src="../../../assets/images/HRM.jpg" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
                <div class="card__header-text">
                <h1 class="card__title">HUMAN RESOURCE MANAGEMENT</h1>            
              </div>
            </div>
            <p class="card__description"> A Human Resource Management System (HRMS) is a digital solution that centralizes HR tasks. It handles employee data, 
              automates payroll, manages recruitment, tracks time and attendance, and supports performance management. HRMS also 
              aids in training, benefits administration, and compliance, offering analytics for informed decision-making.</p>
          </div>
        </a>      
      </li>


      <li>
        <a  class="card">
          <img src="../../../assets/images/education.jpg" class="card__image" alt="" />
          <div class="card__overlay">        
            <div class="card__header">
              <div class="card__header-text">
                <h1 class="card__title">EDUCATION MANAGEMENT</h1>
              </div>
            </div>
            <p class="card__description">An Education Management System is a software platform designed to streamline and enhance educational processes. 
              It offers features for student enrollment, grading, scheduling, and attendance tracking. Teachers can manage
              coursework and assessments, while students and parents often have access to portals for communication and progress 
              monitoring.</p>
          </div>
        </a>
      </li>


      <li>
        <a href="" class="card">
          <img src="../../../assets/images/cafeteria.jpg" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <div class="card__header-text">
                <h1 class="card__title">CAFETERIA MANAGEMENT</h1>
              </div>
            </div>
            <p class="card__description">A Cafeteria Management System is software that efficiently manages cafeteria operations. It automates tasks like
              inventory control, menu planning, order processing, and billing. This system enhances cafeteria operations, optimizing 
              food service, reducing waste, and improving cost control. It benefits staff and customers by ensuring organized, 
              diverse food options and efficient payment processes.</p>
          </div>
        </a>
      </li>

      
      <li>
        <a href="" class="card">
          <img src="../../../assets/images/asset.jpg" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <div class="card__header-text">
                <h1 class="card__title">ASSET MANAGEMENT
                </h1>
              </div>          
            </div>
            <p class="card__description">An Asset Management System is software that helps organizations efficiently track and manage their assets. It
              allows for monitoring asset lifecycle, maintenance, depreciation, and location. This system enhances resource 
              allocation, reduces downtime, and ensures accurate financial reporting, contributing to better overall resource 
              management and cost savings.</p>
          </div>
        </a>
      </li>    


      <li>
        <a href="" class="card">
          <img src="../../../assets/images/visitor.jpg" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <div class="card__header-text">
                <h1 class="card__title">VISITOR MANAGEMENT
                </h1>
              </div>          
            </div>
            <p class="card__description"> A Visitor Management System is software that tracks and manages visitors in a facility. It records visitor information, 
              issues badges, and automates sign-in processes. This system enhances security, streamlines guest registration, and 
              facilitates visitor tracking for compliance and safety. It's essential for organizations aiming to monitor and control 
              visitor access.</p>
          </div>
        </a>
      </li>


      <li>
        <a href="" class="card">
          <img src="../../../assets/images/jewellery.jpg" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <div class="card__header-text">
                <h1 class="card__title">JEWELLERY MANAGEMENT
                </h1>
              </div>          
            </div>
            <p class="card__description">A Jewelry Management System is software designed for the efficient management of jewelry stores and inventory. It 
              tracks items, sales, repairs, and customer data. This system enhances jewelry store operations, offering tools for 
              inventory control, sales tracking, and customer relationship management. It promotes efficiency, customer satisfaction, 
              and the growth of these businesses.</p>
          </div>
        </a>
      </li>


      <li>
        <a href="" class="card">
          <img src="../../../assets/images/CRM.jpg" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <div class="card__header-text">
                <h1 class="card__title">CUSTOMER-RELATIONSHIP MANAGEMENT
                </h1>
              </div>          
            </div>
            <p class="card__description"> A Customer Relationship Management System is software that centralizes customer data and streamlines interactions. 
              It tracks customer information, sales, and marketing efforts, enabling businesses to improve communication. 
              It is essential for enhancing customer relationships and boosting sales.</p>
          </div>
        </a>
      </li>


      <li>
        <a href="" class="card">
          <img src="../../../assets/images/Industry automation.jpg" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <div class="card__header-text">
                <h1 class="card__title">INDUSTRY AUTOMATION
                </h1>
              </div>          
            </div>
            <p class="card__description"> An Industry Automation System is a comprehensive technological framework designed to automate and optimize industrial
              processes across various sectors, including manufacturing, logistics, and energy. It incorporates a range of 
              technologies like sensors, robotics, and control systems to replace manual labor with machinery and smart automation. </p>
          </div>
        </a>
      </li>


      <li>
        <a href="" class="card">
          <img src="h../../../../../assets/images/HSM.jpg" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <div class="card__header-text">
                <h1 class="card__title">HOSPITAL MANAGEMENT
                </h1>
              </div>          
            </div>
            <p class="card__description">A Hospital Management System is software that helps healthcare institutions manage patient data, appointments, 
              billing, and overall hospital operations. It streamlines administrative tasks, patient care, and resource allocation. 
              This system improves patient care quality, reduces errors, and ensures efficient hospital management, making it 
              indispensable for modern healthcare facilities.</p>
          </div>
        </a>
      </li>
    </ul>
</div>
