


<div class="new">
<div>

  <div class="heading" style="background-image:linear-gradient(to bottom left, white,rgb(214, 214, 251));">
    <h1><b>ABOUT AJ ENTERPRISE SOLUTIONS - INNOVATING FOR TOMORROW</b>   </h1>
      <span>
    <span>
    <h5>We are passionate about harnessing the power of technology to drive  
      innovation and transform businesses for the future. As a leading software and maintenance
      company, we specialize in creating cutting-edge solutions that cater to the unique needs of our clients.
    </h5>
    </span>

  </span>
  </div>
</div>



  <!-- <div class="main">
    <ul class="cards">
      <li class="cards_item" style="margin-left: 5%;margin-right: 20%;">
        <div class="card">
          <div class="card_image"><img src="../../../assets/images/vision.jpeg" style="width: 100%;"></div>
          <div class="card_content">
            
            <p class="card_text"> To change the way we think about saving the time, 
              effort, cost by innovation and business friendly 
              software solutions to the trusted clients.</p>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="../../../assets/images/mission.jpeg" style="width: 100%;"></div>
          <div class="card_content">
           
            <p class="card_text"> To provide jobs, technology and prepare for tomorrow 
              to the nation echo system along with achieving
              business vision and becoming profitable business.</p>
          </div>
        </div>
      </li>
    </ul>
  </div> -->


  <div class="grid-container" >
    <div class="grid-item">
      <div class="circle-icon mission">
        <img src="https://tuning-mania.com/pub/media/wysiwyg/mission-icon.png" alt="Mission Icon">
      </div> 
      <h3>Mission</h3>
      <p>To provide jobs, technology and prepare for tomorrow 
        to the nation echo system along with achieving
        business vision and becoming profitable business.</p>
    </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="grid-item">
      <div class="circle-icon vision">
        <img src="https://tuning-mania.com/pub/media/wysiwyg/vision-icon.png" alt="Vision Icon">
      </div>
      <h3>Vision</h3>
      <p>To change the way we think about saving the time, 
        effort, cost by innovation and business friendly 
        software solutions to the trusted clients.</p>
    </div>
  </div>
<hr>


    <!-- <div class="box">
      <div class="heading">
        <h2 class="heading__title"><b>Why Choose AJ Enterprise Solutions?</b></h2>
      </div><br><br>
       <main class="grid">
          <article>
            <div class="text">
              <h5><b>🚀 Innovation</b></h5>
              We are committed to staying updated with the  latest industry trends and 
              technologies to offer innovative solutions to our clients.
            </div>
          </article> -->
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-lg-3">
                <div class="card">
                  <h3>🚀 Innovation</h3>
                  <p>
                    We are committed to staying updated with the latest industry trends and technologies to offer innovative solutions to our clients.
                  </p>
                </div>
              </div>
          
              <div class="col-md-6 col-lg-3">
                <div class="card">
                  <h3>💡 Quality Assurance</h3>
                  <p>
                    We prioritize quality and follow stringent testing procedures to deliver error-free and reliable software.
                  </p>
                </div>
              </div>
          
              <div class="col-md-6 col-lg-3">
                <div class="card">
                  <h3>👋 Expert Team</h3>
                  <p>
                    Our team comprises skilled professionals with a wealth of experience and expertise in various domains.
                  </p>
                </div>
              </div>
          
              <div class="col-md-6 col-lg-3">
                <div class="card">
                  <h3>🚦 Customer Satisfaction</h3>
                  <p>
                    Customer satisfaction is at the core of our values. We aim to build long-lasting relationships with our clients through excellent service and support.
                  </p>
                </div>
              </div>
            </div>
          </div>
          


          <!-- <article>
         <div class="text">
              <h5><b>👋 Expert Team  </b></h5>
              Our team comprises skilled professionals with a wealth of experience and expertise
         in various domains.
            </div>
          </article>
          <article>
          
            <div class="text">
              <h5><b>💡 Quality Assurance </b></h5>
              We prioritize quality and follow stringent testing procedures to deliver 
              error-free and reliable software.
            </div>
          </article>
                 
           <article>
          
            <div class="text">
              <h5><b>🚦 Customer Satisfaction  </b></h5>
              Customer satisfaction is at the core of our values. We aim to build
              long-lasting relationships with our clients through excellent service and support.
            </div>
          </article> -->
         <!-- </main> -->
      
      <!-- </div> -->
</div>
      <br><br>