<!-- <div class="Main">
    <nav>
      <div class="wrapper">
  
        <div class="logo"><a href="#"><img src="../../../assets/images/aj logo.webp"
              style="height: 40%; width: 50%;margin-left: -10%;" alt=""></a></div>
        <input type="radio" name="slider" id="menu-btn">
        <input type="radio" name="slider" id="close-btn">
        <ul class="nav-links">
          <label for="close-btn" class="btn close-btn"><i class="fa fa-times" aria-hidden="true"></i></label>
          <li><a routerLink="/home" [class.active]="isActive('/home')">Homaaae</a></li>
          <li>
            <a routerLink="/about" [class.active]="isActive('/about')">About </a>
          </li>
     
          <li>
            <a routerLink="/services" [class.active]="isActive('/services')">Services</a>
          </li>
          <li><a routerLink="/products">Products</a></li>
          <li><a routerLink="/careers">Careers</a></li>
          <li><a routerLink="/contact">Contact</a></li>
         
        </ul>
        <label for="menu-btn" class="btn menu-btn"><i class="fa fa-bars" aria-hidden="true"></i></label>
      </div>
    </nav>
  </div> -->